= link_to article_path(article), class: "article-link" do
  .article
    - if article.featured
      %h2= article.title
    - else
      %h3= article.title
    .author
      by
      %h4= article.user.name
    = simple_format article.stub
